{%load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Python Web App</title>
</head>
<link rel="stylesheet" type="text/css" href="{% static "style/style.css"%}">


<body id="bg" style="background-image: url('{% static "images/background2.jpg"%}');">
   <div class="row">
      <div class="column">
        <img src= {% static "images/black_background.jpg"%} alt="Snow" style="width:10%" class="pictureone">
      </div>
      <div class="column">
        <img src= {% static "images/black_background.jpg"%} alt="Forest" style="width:10%" class="picturetwo">
      </div>
      <div class= "column">
        <img src= {% static "images/black_background.jpg"%} alt="Mountains" style="width:10%" class="picturethree">
       </div>
   </div>
</body>
</html>