<!DOCTYPE html>
<head>
    <title> Welcome to Lesson 1, Hello World!</title>
</head>
<body>
    <h1>All coders have to start somewhere, and it's always a good idea to make sure your software is working properly.</h1>
    <h2>We should begin by creating a new python program.  First, make sure you have the following:
    <br>-Python 3.9 or 3.10
    <br>-Pip installer
    <br>-VS Code
    </br> Using VS Code's terminal (Terminal>New Terminal), type "pip install python"
    </h2>
    <h3>Make sure to make a filepath that you will remember!  Once you have, create a python file, call it something like "Hello World.py"
    Once you have done this, type "print('Hello World');" in the program window above the terminal.  Then click Run>Start Debugging.</h3>
    <h4> If you were successful, you should have a message in your terminal that says "Hello World"World.py
    <br>Congratulations, you have just finished your first lesson!</br>
</body>
</html>